In [1]:
import pandas as pd

In [2]:
sample_2014 = pd.read_csv("2014_Crime_Data.csv")
sample_2015 = pd.read_csv("2015_Crime_Data.csv")
sample_2016 = pd.read_csv("2016_Crime_Data.csv")

In [3]:
sample_2014.shape

(10160, 6)

In [4]:
sample_2015.shape

(9643, 6)

In [5]:
sample_2016.shape

(9365, 6)

In [6]:
sample_14_15 = pd.concat([sample_2014, sample_2015])

In [7]:
sample_14_15_16 = pd.concat([sample_14_15, sample_2016])

In [8]:
sample_14_15_16.shape

(29168, 6)

In [9]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Clearance Date,GO Location Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,05/14/2014 12:00:00 AM,78751.0
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,07/16/2014 12:00:00 AM,78729.0
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,04/17/2014 12:00:00 AM,78705.0
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,11/14/2014 12:00:00 AM,78748.0
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,10/02/2014 12:00:00 AM,78729.0

In [10]:
sample_14_15_16 = sample_14_15_16[['GO Highest Offense Desc', 'Highest NIBRS/UCR Offense Description',
       'GO Report Date', 'GO Location', 'GO Location Zip']]

In [11]:
sample_14_15_16.head(3)

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,GO Location Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751.0
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729.0
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705.0

In [12]:
sample_14_15_16.duplicated().sum()

3563

In [13]:
sample_14_15_16.shape[0] - sample_14_15_16.duplicated().sum()

25605

In [14]:
sample_14_15_16 = sample_14_15_16.drop_duplicates()

In [15]:
sample_14_15_16.shape[0]

25605

In [16]:
sample_14_15_16.isnull().sum()

GO Highest Offense Desc                    0
Highest NIBRS/UCR Offense Description      0
GO Report Date                             0
GO Location                              451
GO Location Zip                          115
dtype: int64

In [17]:
sample_14_15_16 = sample_14_15_16.dropna()

In [18]:
sample_14_15_16.isnull().sum()

GO Highest Offense Desc                  0
Highest NIBRS/UCR Offense Description    0
GO Report Date                           0
GO Location                              0
GO Location Zip                          0
dtype: int64

In [19]:
sample_14_15_16.dtypes

GO Highest Offense Desc                   object
Highest NIBRS/UCR Offense Description     object
GO Report Date                            object
GO Location                               object
GO Location Zip                          float64
dtype: object

In [20]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,GO Location Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751.0
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729.0
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705.0
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748.0
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729.0

In [21]:
sample_14_15_16['Zip'] = sample_14_15_16['GO Location Zip'].astype(int)

In [22]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,GO Location Zip,Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751.0,78751
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729.0,78729
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705.0,78705
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748.0,78748
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729.0,78729

In [23]:
sample_14_15_16['Zip'] = sample_14_15_16['Zip'].astype(str)

In [24]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,GO Location Zip,Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751.0,78751
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729.0,78729
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705.0,78705
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748.0,78748
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729.0,78729

In [26]:
del sample_14_15_16['GO Location Zip']

In [27]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Zip
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729

In [28]:
sample_14_15_16['City'] = 'Austin'
sample_14_15_16['State'] = 'TX'

In [29]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Zip,City,State
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751,Austin,TX
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729,Austin,TX
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705,Austin,TX
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748,Austin,TX
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729,Austin,TX

In [30]:
sample_14_15_16['Full_Address'] = sample_14_15_16['GO Location'] + sample_14_15_16['City'] + " " + sample_14_15_16['State'] + " " +  sample_14_15_16['Zip']

In [31]:
sample_14_15_16.head()

,GO Highest Offense Desc,Highest NIBRS/UCR Offense Description,GO Report Date,GO Location,Zip,City,State,Full_Address
0,THEFT,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...,78751,Austin,TX,4300 SPEEDWAY ...
1,THEFT,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...,78729,Austin,TX,8803 SCHICK RD ...
2,THEFT OF BICYCLE,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...,78705,Austin,TX,2101 RIO GRANDE ST ...
3,BURGLARY OF VEHICLE,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...,78748,Austin,TX,1901 ONION CREEK PKWY ...
4,AUTO THEFT,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...,78729,Austin,TX,8519 CAHILL DR ...

In [32]:
sample_14_15_16.columns

Index(['GO Highest Offense Desc', 'Highest NIBRS/UCR Offense Description',
       'GO Report Date', 'GO Location', 'Zip', 'City', 'State',
       'Full_Address'],
      dtype='object')

In [33]:
sample_14_15_16 = sample_14_15_16[['Highest NIBRS/UCR Offense Description',
       'GO Report Date',
       'Full_Address']]
sample_14_15_16.head()

,Highest NIBRS/UCR Offense Description,GO Report Date,Full_Address
0,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...
1,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...
2,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...
3,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...
4,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...

In [34]:
sample_14_15_16.rename_axis({'Highest NIBRS/UCR Offense Description': 'Offense_Description',
                            'GO Report Date': 'Report_Date'}, axis=1, inplace=True)

/Users/arwen/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

In [35]:
sample_14_15_16.head()

,Offense_Description,Report_Date,Full_Address
0,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...
1,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...
2,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...
3,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...
4,Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...

In [36]:
m = {'Agg Assault': 'Agg Assault',
     'Theft': 'Theft',
     'Robbery': 'Robbery',
     'Burglary': 'Burglary',
     'Auto Theft': 'Theft: Auto Theft',
     'Murder' : 'Murder',
     'Burglary / \nBreaking & Entering': 'Burglary: Breaking & Entering',
     'Homicide: Murder & Nonnegligent Manslaughter': 'Homicide: Murder & Non-negligent Manslaughter',
     'Aggravated Assault': 'Aggravated Assault',
     'Theft: Pocket Picking': 'Theft: Pocket Picking',
     'Theft: Purse Snatching': 'Theft: Purse Snatching',
     'Theft: Shoplifting': 'Theft: Shoplifting',
     'Theft: from Building': 'Theft: from Building',
     'Theft: Coin Op Machine': 'Theft: Coin Op Machine',
     'Theft: BOV': 'Theft: BOV',
     'Theft: Auto Parts': 'Theft: Auto Parts',
     'Theft: All Other Larceny': 'Theft: All Other Larceny'}

In [37]:
sample_14_15_16['Offense_Description'] = sample_14_15_16.Offense_Description.map(m)

/Users/arwen/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [38]:
sample_14_15_16

,Offense_Description,Report_Date,Full_Address
0,Theft: All Other Larceny,04/29/2014 12:00:00 AM,4300 SPEEDWAY ...
1,Theft: All Other Larceny,06/17/2014 12:00:00 AM,8803 SCHICK RD ...
2,Theft: All Other Larceny,04/07/2014 12:00:00 AM,2101 RIO GRANDE ST ...
3,Theft: BOV,11/08/2014 12:00:00 AM,1901 ONION CREEK PKWY ...
4,Theft: Auto Theft,08/14/2014 12:00:00 AM,8519 CAHILL DR ...
5,Theft: BOV,11/26/2014 12:00:00 AM,5628 NIJMEGEN DR ...
6,Theft: BOV,02/26/2014 12:00:00 AM,15119 N IH 35 SVRD NB ...
7,Theft: All Other Larceny,10/19/2014 12:00:00 AM,2105 E 14TH ST ...
8,Theft: BOV,06/13/2014 12:00:00 AM,1222 ALGARITA AVE ...
9,Theft: All Other Larceny,12/10/2014 12:00:00 AM,500 E 7TH ST ...
10,Theft: BOV,03/05/2014 12:00:00 AM,6007 N IH 35 SVRD NB ...
11,Theft: All Other Larceny,12/12/2014 12:00:00 AM,7439 N LAMAR BLVD ...
12,Aggravated Assault,01/19/2014 12:00:00 AM,219 E 6TH ST ...
13,Theft: All Other Larceny,06/16/2014 12:00:00 AM,6008 SANDSHOF DR ...
14,Theft: All Other Larceny,01/08/2014 12:00:00 AM,525 N LAMAR BLVD ...
15,Aggravated Assault,03/07/2014 12:00:00 AM,305 W 5TH ST ...
16,Robbery,10/31/2014 12:00:00 AM,10810 N LAMAR BLVD ...
17,Burglary: Breaking & Entering,05/01/2014 12:00:00 AM,7201 MANCHACA RD ...
18,Theft: All Other Larceny,12/18/2014 12:00:00 AM,303 E OLTORF ST ...
19,Theft: All Other Larceny,08/17/2014 12:00:00 AM,1401 EVA ST ...
20,Theft: All Other Larceny,10/10/2014 12:00:00 AM,8300 N FM 620 RD ...
21,Theft: Coin Op Machine,10/22/2014 12:00:00 AM,1431 FAIRFIELD DR ...
22,Theft: BOV,05/15/2014 12:00:00 AM,11301 FARRAH LN ...
23,Theft: BOV,10/22/2014 12:00:00 AM,6501 SKINNER CV ...
24,Theft: Auto Theft,09/13/2014 12:00:00 AM,8401 S 1ST ST ...
26,Theft: BOV,10/09/2014 12:00:00 AM,1901 E ANDERSON LN SVRD EB ...
27,Theft: BOV,05/09/2014 12:00:00 AM,6201 E US 290 HWY SVRD EB ...
28,Aggravated Assault,08/10/2014 12:00:00 AM,1307 SOUTHPORT DR ...
29,Theft: Shoplifting,11/29/2014 12:00:00 AM,6301 N LAMAR BLVD ...
30,Theft: All Other Larceny,08/29/2014 12:00:00 AM,12351 N IH 35 SVRD NB ...
...,...,...,...
9324,Theft,19-Jan-16,3500 JEFFERSON ST ...
9326,Theft: Auto Theft,5-Sep-16,2508 E RIVERSIDE DR ...
9327,Burglary,18-Mar-16,5330 N IH 35 SVRD SB ...
9328,Burglary,19-Nov-16,7415 POINSETTA LN ...
9329,Theft,22-Feb-16,3600 S IH 35 SVRD SB ...
9330,Theft,6-May-16,1201 BARBARA JORDAN BLVD ...
9331,Theft,5-Apr-16,2223 BURTON DR ...
9332,Theft,25-Jul-16,9333 RESEARCH BLVD NB ...
9333,Theft,20-Jul-16,6806 E RIVERSIDE DR ...
9338,Theft,26-Sep-16,1101 S MOPAC EXPY SVRD NB ...
9339,Theft,18-Jun-16,1030 NORWOOD PARK BLVD ...
9340,Theft,11-May-16,500 E 4TH ST ...
9341,Theft,16-Sep-16,2300 W BEN WHITE BLVD SVRD EB ...
9342,Theft,4-Mar-16,12330 METRIC BLVD ...
9343,Theft,11-Dec-16,710 E BEN WHITE BLVD WB ...
9344,Theft,19-Mar-16,6934 E BEN WHITE BLVD EB ...
9345,Theft,17-Oct-16,1003 BARTON SPRINGS RD ...
9346,Theft,18-Mar-16,11066 PECAN PARK BLVD ...
9347,Theft,2-Oct-16,9505 STONELAKE BLVD ...
9348,Agg Assault,29-Jun-16,1637 PAVELICH PASS ...
9351,Theft,4-Jul-16,11600 FAST HORSE DR ...
9353,Burglary,1-Feb-16,6503 BLUFF SPRINGS RD ...
9355,Theft,24-Aug-16,8313 PANADERO DR ...
9356,Theft,16-Feb-16,12800 TURTLE ROCK RD ...
9357,Burglary,8-Feb-16,6208 BLUE STEM TRL ...
9360,Theft,7-Feb-16,4712 S CONGRESS AVE ...
9361,Theft,8-Oct-16,2336 DOUGLAS ST ...
9362,Theft,3-May-16,5601 ADAIR DR ...
9363,Theft,23-Feb-16,3603 SOUTHRIDGE DR ...
9364,Theft,15-Nov-16,2508 E RIVERSIDE DR ...

In [39]:
sample_14_15_16.to_csv("Crime_Samples.csv")

In [40]:
smaller_sample = sample_14_15_16.sample(frac=0.25, replace=True)

smaller_sample.to_csv("Smaller_Sample_Data.csv", index=False)